@font-face {
    font-family: 'Cascadia Code';
    src: url(../fonts/CascadiaCode.ttf);
}

@font-face {
    font-family: 'Cascadia Code';
    src: url(../fonts/CascadiaCodeItalic.ttf);
    font-style: italic;
}

:root {
    --color-base: rgb(244, 236, 230);
    --color-shade: rgb(237, 217, 198);
    --color-dark: rgb(226, 184, 160);
    --color-accent: rgb(225, 144, 147);
    --color-alt: rgb(136, 170, 200);

    --color-titles: rgb(30, 31, 34);
    --color-paragraphs: rgb(65, 61, 64);
    --color-text-shade: rgb(97, 100, 110);
}

html,
body {
    margin: 0;
    padding: 0;

    height: 100%;

    scroll-behavior: smooth;
}

body {
    font-family: 'Cascadia Code', 'Ubuntu', 'Courier New', Courier, monospace;

    color: var(--color-titles);
    font-weight: 300;
    letter-spacing: .025em;

    white-space: 0;

    background-color: var(--color-base);
}

br {
    width: 100px;
    height: 10px;

    background-color: black;
}

img {
    filter: drop-shadow(0px 0px 1px var(--color-shade));
}

p b {
    font-weight: 200;
    color: var(--color-text-shade);
    opacity: 70%;
}

nav.menu a:hover,
div.socials a:hover {
    box-shadow: -3px 3px 0px 0px var(--color-accent);

    transition: .075s;
    transform: translate(1px, -1px);
}

p.paragraph a {
    color: var(--color-alt);
    text-decoration: none;
}

p.paragraph a:hover {
    color: var(--color-accent);
}

footer {
    margin-top: 100px;

    flex-shrink: 0;

    color: var(--color-base);
    text-align: center;

    background-color: var(--color-alt);
}

footer a {
    padding-right: 10px;

    color: var(--color-base);
    text-decoration: none;
}

footer a:hover {
    color: var(--color-accent);
}


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

@media only screen and (max-device-width: 640px) {
    .responsive {
        flex-direction: column;
        row-gap: 25px;
    }
}

.centered-content {
    justify-content: center;

}

.flex-child {
    flex: 1;
}

.flex-child-wide {
    flex: 5;
}

p.title {
    font-size: 2em;
    font-weight: 200;
}

p.subtitle {
    font-size: 1.2em;
    font-weight: 300;
}

p.heading {
    font-size: 1.2em;
    font-weight: 300;

    color: var(--color-text-shade);
}

p.paragraph {
    padding: 0;

    color: var(--color-paragraphs);
    text-align: justify;
    line-height: 1.25em;
}

p.paragraph b {
    color: black;
    font-weight: 350;
}

p br {
    margin-bottom: 10px;
}

p.align-right {
    text-align: right;
}

p.no-margin {
    margin: 0;
}

.image-container {
    align-items: center;
    justify-content: space-evenly;
}

.padding-single {
    padding: 15px;
}

.padding-double {
    padding: 25px;
}

.column-gap {
    column-gap: 25px;
}

.bg-color {
    border-radius: 5px;
    /* background-color: var(--color-shade); */
    background: linear-gradient(0deg, white 15%, var(--color-base) 150%);

    box-shadow: 0px 0px 2px var(--color-shade);
}

p.separator {
    padding-bottom: 5px;

    box-shadow: 0px 1px 0px 0px var(--color-alt);
}