:root {
    --color-base: rgb(244, 236, 230);
    --color-shade: rgb(237, 217, 198);
    --color-dark: rgb(226, 184, 160);
    --color-accent: rgb(225, 144, 147);
    --color-alt: rgb(136, 170, 200);

    --color-text: rgb(30, 31, 34);
    --color-text-shade: rgb(97, 100, 110);
}

.menu {
    padding: 10;

    justify-content: right;
    column-gap: 15px;

    background-color: var(--color-alt);
}

.menu a {
    padding: 5px;

    font-size: 1.2em;
    font-weight: 350;

    text-decoration: none;

    color: var(--color-base);

    border-radius: 5px;

    text-shadow: 0px 0px 1px var(--color-shade);
}

.menu a:hover {
    background-color: rgba(255, 255, 255, .125);
}

.info {
    padding: 15px;

    align-items: center;
    row-gap: 10px;
}

.avatar {
    width: 150px;
    height: 150px;

    background-image: url(../img/3x4.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;

    border-radius: 50%;
}

.info p {
    padding: 0 5px 2px 5px;

    border-image: linear-gradient(90deg, var(--color-base) 0%, var(--color-accent) 50%, var(--color-base) 100%) 1;
    border-bottom: 1px solid transparent;
    /* box-shadow: 0px 1px 0px 0px var(--color-dark); */
}

.socials {
    column-gap: 5px;
}

.socials a {
    width: 32px;
    height: 32px;

    border-radius: 20%;

    background-color: var(--color-alt);
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 0px 0px 2px var(--color-dark);
}

.linkedin {
    background-image: url(../img/linkedin.svg);
}

.linkedin:hover {
    background-color: rgb(0, 119, 181);
}

.github {
    background-image: url(../img/github.svg);
}

.github:hover {
    background-color: rgb(92, 107, 192);
}

.publications {
    background-image: url(../img/bookmark.svg);
}

.publications:hover {
    background-color: rgb(175, 205, 76);
}

.main-container {
    margin: auto;
    padding: 5px;

    max-width: 1150px;

    row-gap: 10px;

    border-radius: 5px;
}

.description-logos {
    row-gap: 25px;
}

.description-logos img {
    height: 35px;

    /* filter: opacity(.8); */
}

.skill-logos {
    gap: 50px;
}

.skill-logos img {
    height: 50px;
}

.spacer {
    margin: 25px 0px 15px 0px;

    height: 2px;
    width: 100%;

    align-self: center;

    background: linear-gradient(90deg, var(--color-base) 5%, var(--color-accent) 50%, var(--color-base) 95%);

    filter: opacity(.5);
}