:root {
    --color-base: rgb(244, 236, 230);
    --color-shade: rgb(237, 217, 198);
    --color-dark: rgb(226, 184, 160);
    --color-accent: rgb(225, 144, 147);
    --color-alt: rgb(136, 170, 200);

    --color-text: rgb(30, 31, 34);
    --color-text-shade: rgb(97, 100, 110);
}

.menu {
    padding: 10;

    justify-content: right;
    column-gap: 15px;

    background-color: var(--color-alt);
}

.menu a {
    font-size: 1.2em;
    font-weight: 300;

    text-decoration: none;

    color: var(--color-text);
}

.menu a:hover {
    text-shadow: -2px 2px var(--color-alt);

    transform: translateY(-1px);
}

.info {
    padding: 15px;

    align-items: center;
    row-gap: 10px;
}

.avatar {
    width: 150px;
    height: 150px;

    background-image: url(../img/3x4.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;

    border-radius: 50%;
}

.info p {
    padding: 0 5px 2px 5px;

    box-shadow: 0px 5px 0px -4px var(--color-accent);
}

.socials {
    column-gap: 5px;
}

.socials a {
    width: 32px;
    height: 32px;

    line-height: 30px;

    color: white;

    font-weight: bold;
    font-size: 1.25em;

    text-decoration: none;
    text-align: center;

    border-radius: 20%;

    background-color: rgb(136, 170, 200);
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: -3px 2px 0px 0px var(--color-accent);
}

.socials a:hover {
    transform: translateY(-2px);
}

.linkedin {
    background-image: url(../img/ln_w.svg);
}

.linkedin:hover {
    background-color: rgb(0, 119, 181);
}

.github {
    background-image: url(../img/gh_w.svg);
}

.github:hover {
    background-color: rgb(92, 107, 192);
}

.orcid {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.orcid:hover {
    background-color: rgb(175, 205, 76);
}

.cv {
    background-image: url(../img/cv_w.svg);
}

.cv:hover {
    background-color: rgb(74, 74, 74);
}

.main-container {
    margin: auto;
    padding: 5px;

    width: 70%;

    row-gap: 10px;

    border-radius: 5px;
}

.description-logos {
    height: auto;

    row-gap: 25px;
}

.description-logos img {
    max-width: 100px;
    max-height: 32px;
}

.skill-logos {
    gap: 50px;
}

.skill-logos img {
    max-width: 100px;
    max-height: 50px;
}