body {
    margin: 0;
    padding: 0;

    background: rgb(255, 249, 222);
}

br {
    display: block;
    margin-top: 5px;
}

.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: auto;
    margin-top: 10vh;

    width: 50%;
}

.row {
    
}

.quote {
    color: rgb(49, 49, 49);
    background: rgb(255, 211, 176);

    display: block;
    float: left;

    width: 70%;
    padding: 10px 20px 10px 20px;
    /* padding-bottom: 8px; */

    text-align: justify;
    font-size: .95rem;
}

.quote a {
    font-weight: 600;
    text-decoration: none;

    color: black;
}

.quote a:hover {
    color: rgb(255, 255, 255);
}

.info {
    display: block;
    float: left;

    margin-left: 25px;
}

.info img {
    width: 100px;
    height: 100px;

    border: solid 1px white;
    border-radius: 50px;
}

.info p {
    background-color: rgb(166, 208, 221);

    text-align: right;

    font-style: italic;
    font-size: .9rem;

    padding: 3;
    padding-right: 10;

    margin: 0;
    margin-top: 5;
}

.social {
    opacity: .8;
}

.social a {
    margin-top: 5px;
    margin-bottom: 5px;

    display: block;
    float: left;

    width: 32px;
    height: 32px;

    margin-right: 5px;
}

.linkedin {
    background: url("../img/ln.png");
}

.github {
    background: url("../img/gh.png");
}

.box-shadow {
    box-shadow: rgb(201, 200, 196) -3px 3px 3px;
}