body
{
    margin: 0;
    padding: 0;

    background-color: rgb(232, 223, 156)
}

.main
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container
{
    margin: auto;
    margin-top: 10vh;

    width: 50%;

    border-radius: 3px;
}

.row
{

}

.quote
{
    background-color: rgb(247, 94, 80);

    display: block;
    float: left;

    width: 77.5%;
    padding: 15px;
    padding-bottom: 8px;

    text-align: justify;
    font-size: .95rem;

    box-shadow: rgba(65, 64, 66, .7) -3px 4px 4px;
}

.quote h5
{
    text-align: left;
    font-size: .85rem;
    font-weight: 400;
    color: rgb(39, 39, 39);
}

.info
{
    display: block;
    float: right;
}

.info img
{
    width: 100px;
    height: 100px;

    border: solid 1px white;
    border-radius: 50px;
}

.info p
{
    /* width: 100px; */
    border-radius: 2px;

    color: white;
    background-color: rgb(145, 192, 158);

    text-align: right;
    font-size: .9rem;
    /* font-weight: 600; */

    padding: 3;
    padding-right: 10;
    margin: 0;
    margin-top: 5;

    font-style: italic;
}

.social
{
    opacity: .8;
}

.social a
{
    margin-top: 5px;
    margin-bottom: 5px;

    display: block;
    float: left;

    width: 32px;
    height: 32px;

    margin-right: 5px;
}

.linkedin
{
    background: url("../img/ln.png");
}

.github
{
    background: url("../img/gh.png");
}

.unity
{
    background: url("../img/un.png");
}