.button
{
    padding: 10px 10px;
    margin: 0 0 0 10px;

    background: $mainGreen;

    text-decoration: none;
    color: white;

    border-radius: 2px;
    box-shadow: 2px 2px $mainGray;

    display: block;
    float: left;
}

.button:hover
{
    background: $mainRed;
}

.button-group
{
    float: right;
    padding: 0 2px 25px 0;
}