.info
{
    float: left;
    width: 30%;
}

.info img
{
    width: 150px;
    height: 150px;
    
    float: left;

    padding:0 5px;
    margin-right: 5px;
}

.info p
{
    color: white;
    line-height: 1.75rem;

    display: inline;
    background: $mainRed;

    padding: .275rem 0;
}